<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hangman</title>
    <link rel="stylesheet" type="text/css" href=static/index.css>
</head>
<body>
    <div id="back"></div>
    <div id="title"> My Hangman</div>
    
    <div class="config-page-contain">
        <div class="1 config">
            <div class="config-text config-children"> Number of Trys </div>
            <input type="number" id="Trys" class="config-children config-input" name="Trys" placeholder="Min: 1 Max: 7" min="1" max="7">
        </div>    
    </div>

    <div class="back-contain"> 
        <a class="back-button" id="back-button"> Back </a>
    </div>
    <script src="static/config.js"></script>
</body>
</html>