<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hangman</title>
    <link rel="stylesheet" type="text/css" href=static/index.css>
</head>
<body>
    <div id="back"></div>
    <div id="title"> My Hangman</div>
    <div class="win-contain">
        <div id="win">You won!</div>
    </div>
    <div class="play-again-contain"> 
        <a class="play-again-button" id="play"> Play Again! </a>
    </div>
    <script src="static/loose.js"></script>
</body>
</html>